header{
    max-width: 80rem;
    width: 100%;
    padding: 1.25rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 2rem;
        height: 2rem;
        
        transition: transform 500ms ease-in-out;
    }

    img[src*="logo"]:hover {
        transform: rotate(90deg);
    }

    img[src*="shopping"]:hover {
        transform: rotate(-30deg);
        transition-timing-function: cubic-bezier(0.92, 0.04, 0.16, 0.97);
    }

    a{
        position: relative;
    }

    a span{
        font: 500 0.75rem/1.3 "Inter", sans-serif;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;

        background-color: var(--snitap-sun);
        
        width: 1.25rem;
        height: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
    }

}
